.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.AdminPanelButtons{
  padding: 5%;
  font-size: 5em
}

.AdminPanelButtonSection a{
  padding: 5%;
  text-decoration : none;
}






.ManagePostsCard{
  padding: 1%
}

.ManagePostsCardSection span{
  padding: 1%
}
.ManagePostsCardSection Button{
  margin-right: 1%;
}






.ManageCategorieslButtons{
  padding: .1%;
  font-size: 2em
}

.ManageCategoriesCardSection span{
  padding: 2%;
}


.AddCategoryButton{
  width: 70%
}


.ManageCategoriesButton{
  padding: 2%;
  font-size: 2em
}








.ReadPost p{
  padding: 3%
}






.CategoriesButtonSection a{
  padding: 1%;
  text-decoration : none;
}

.CategoriesButtons{
  padding: 2%;
  font-size: 5em
}
